/* СЕКЦИЯ ШРИФТЫ */

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ПОВТОРЯЮЩИЕСЯ КЛАССЫ */

.container {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rs-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rs-indent {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000;
}

/* КНОПКИ */


.button {
  position: relative;
  padding: 10px 40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  z-index: 1;
}

.button > span {
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.button::before {
  content: '';
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  background-color: #FFE17F;
  transition: all 0.25s ease;
}

.button:focus::before {
  background-color: #AF4FFF;
}

.button:hover::before {
  height: 100%;
  background-color: #FFE17F;
}

.button:active > span {
  color: #000000;
  opacity: 0.3;
}


/* HEADER */

.page-header {
  margin-top: 40px;
  background-color: #FFE17F;
  position: relative;
  padding-bottom: 12px;
}

.catalog-header {
  padding-bottom: 49px;
}

.logo {
  position: absolute;
  left: 61px;
  top: -23px;
}

.header-row {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-right: 60px;
  padding-left: 60px;
  /*margin-bottom: 34px;*/
}

.header-search {
  position: relative;
  width: 516px;
  margin-right: auto;
  border-radius: 40px;
  display: flex;
}

.header-search-input {
  padding: 9px 170px 8px 52px;
  display: block;
  background-color: transparent;
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-position: left 16px center;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 100%;
  outline: none;
  color: #000000;
  letter-spacing: 0.02em;
}

.header-search-input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-search-input:focus {
  border-color: #AF4FFF;
}

.header-search-input:active,
.header-search-input:valid {
  color: rgba(0, 0, 0, 1);
  border-color: #000000;
}

.header-search-input:valid + .header-search-btn {
  opacity: 1;
}

.header-search-input:hover + .header-search-btn:hover {
  opacity: 1;
}

.header-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 160px;
  opacity: 0;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
}

.header-search-btn:focus {
  border-color: #AF4FFF;
  background-color: transparent;
}

.header-search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.header-search-btn:active {
  border-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  background-color: #000000;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
}

.user-menu-link-ico {
  margin-right: 10px;
}

.user-menu-link {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 16px;
  line-height: 19px;

}

.user-menu-link:focus {
  border-radius: 25px;
  outline: 2px solid #AF4FFF;
  outline-offset: 11px;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-item-enter {
  margin-right: auto;
}

.user-menu-item-exit {
  margin-right: 50px;
}

.user-menu-link-exit {
  color: rgba(0, 0, 0, 0.3)
}

.user-menu-item-compare {
  margin-right: 40px;
}

.user-menu-item-numb {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  z-index: 1;
}

.user-menu-link-basket {
  display: flex;
}

.navigation {
  padding-right: 55px;
  padding-left: 60px;
  padding-top: 31px;
}

.navigation-item:nth-child(2) {
  margin-right: 31px;
}

.navigation-item:nth-child(3) {
  margin-right: 90px;
}

/*.navigation-item:nth-last-child(1) {*/
/*  margin-left: auto;*/
/*}*/

.navigation-link {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
  border-radius: 25px;
  position: relative;
}

.navigation-link::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #000000;
  right: 3px;
  left: 1px;
  bottom: -5px;
  opacity: 0;
}

.navigation-link:hover::before {
  opacity: 1;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 12px;
  border-radius: 25px;
}

.navigation-link:focus::before {
  opacity: 0;
}

.navigation-link:active {
  border-radius: 25px;
  opacity: 0.3;
}

.navigation-link:active::before {
  opacity: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product-catalog {
  width: 280px;
  margin-right: 260px;
  position: relative;
}

.product-catalog:hover > .sub-menu {
  display: flex;
  flex-wrap: wrap;
}

.product-catalog-link:hover::before {
  opacity: 0;
}

.product-catalog::before {
  content: '';
  position: absolute;
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: -13px;
  top: -10px;
  z-index: 20;
}

.product-catalog:hover::before {
  background-image: url("../img/svg/minus.svg");
  opacity: 1;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #FFE17F;
  z-index: 10;
  width: 1160px;
  left: -60px;
  top: 25px;
  padding: 43px 60px 33px;
  min-height: 160px;
}

.sub-menu-column {
  margin-right: 46px;
  margin-bottom: 20px;
}

.sub-menu-column:nth-child(2) {
  margin-right: 60px;
}

.sub-menu-item:not(.sub-menu-item:last-child) {
  margin-bottom: 6px;
}

.sub-menu-link {
  color: #000000;
  border-radius: 25px;
  font-size: 16px;
  line-height: 18px;
}

.sub-menu-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
  opacity: 1;
}

.sub-menu-link:hover {
  opacity: 0.6;
}

.sub-menu-link:active {
  opacity: 0.3;
}

/* MAIN */
.index-main {
  flex-grow: 1;
}

/* SLIDER */

.slider {
  position: relative;
}

.slider-list {
  counter-reset: slider-counter 0;
}

.slider-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  position: relative;
  background-image: linear-gradient( to bottom, #FFE17F 150px, #ffffff 140px );
}

.slider-item::before {
  position: absolute;
  top: 7px;
  right: 50px;
  color: #ffffff;
  line-height: 1;
  font-weight: 800;
  font-size: 180px;
  content: "0" counter(slide-counter);
  counter-increment: slide-counter;
  z-index: 0;
}

.slider-item:not(.slider-item-current) {
  display: none;
}

.slider-column {
  position: relative;
}

.slider-column-right {
  padding-top: 122px;
  padding-bottom: 36px;
}

.slider-title {
  margin: 0 0 28px;
}

.slider-text {
  margin: 0 0 40px;
}

.slider-feature {
  display: flex;
  flex-wrap: wrap;
}

.slider-feature-meaning {
  margin: 0 0 11px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-feature-text {
  margin-top: 0;
  letter-spacing: -0.06em;
}

.slider-column-btn {
  display: inline-block;
  margin-bottom: 59px;
  padding: 10px 37px;
}

.slider-feature-item {
  margin-right: 20px;
}

.slider-list-btn {
  position: absolute;
  width: 560px;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 240px;
  padding-right: 9px;
  padding-left: 9px;
}

.slider-navigation-button {
  padding: 10px;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.slider-navigation-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-navigation-button:hover {
  opacity: 0.6;
}

.slider-navigation-button:active {
  opacity: 0.3;
}

.slider-dots {
  position: absolute;
  right: 61px;
  display: flex;
  top: 349px;
}

.slider-dots-item:not(.slider-dots-item:last-child) {
  margin-right: 23px;
}

.slider-dots-button {
  padding: 0;
  min-width: 11px;
  min-height: 11px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 0 0 2px #000000;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.slider-dots-button:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
}

.slider-dots-button:hover {
  box-shadow: inset 0 0 0 2px #000000;
  opacity: 0.6;
}

.slider-dots-button:active {
  opacity: 0.3;
}

.slider-dots-button-current {
  background-color: #000000;
}

  /* CATEGORIES */

.categories {
  padding-top: 56px;
  padding-bottom: 162px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
}

.categories-item-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  letter-spacing: -0.02em;
  margin-top: 0;
}

.categories-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.categories-item-box-bottom {
  align-items: flex-end;
}

/*.categories-item-link > .categories-item-box {*/
/*  border: 5px solid transparent;*/
/*}*/

.categories-item-link:focus .categories-item-box{
  background-color: #FFE17F;
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.categories-item-link:focus .categories-item-title {
  color: #AF4FFF;
}

.categories-item-link:hover .categories-item-title {
  color: #000000;
}

.categories-item-link:hover .categories-item-box {
  background-color: #FFC700;
  color: #000000;
}

.categories-item-link > .categories-item-box:hover {
  background-color: #FFC700;
}

.categories-item-link:active > .categories-item-box {
  background-color: #FFC700;
  opacity: 0.3;
}

.categories-item-link:active .categories-item-title {
  opacity: 0.3;
  color: #000000;
}

/* SERVISES */

.tabs {
  background: #f0f0f0;
  padding-bottom: 117px;
  margin-bottom: 90px;
}

.tabs-container {
  display: flex;
}

.tabs-controls {
  width: 283px;
  flex-shrink: 0;
  margin-top: -20px;
  position: relative;
}

.tabs-controls::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000000;
  right: 0;
  top: -80px;
}

.tabs-controls-item {
  margin-bottom: 23px;
}

.tabs-controls-btn {
  max-width: 276px;
  min-width: 160px;
  z-index: 0;
  padding: 10px 20px;
  letter-spacing: 0.19em;
}

.tabs-controls-btn::before {
  content: '';
  height: 8px;
  min-width: 160px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  background-color: #FFC700;
}

.tabs-controls-btn:hover::before {
  background-color: #FFC700;
}

.tabs-controls-btn-current {
  width: 100%;
  text-align: left;
  color: #FFE17F;
  background-color: #000000;
}

.tabs-controls-btn-current::before {
  content: '';
  height: 8px;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  background-color: #000000;
}

.tabs-controls-btn-current:hover::before {
  background-color: #000000;
  width: 100%;
}

/*.tabs-controls-btn-current:hover {*/
/*  width: 160px;*/
/*}*/

/*.tabs-controls-btn-current:hover > span {*/
/*  color: #000000;*/
/*}*/

.tabs-content {
  width: 100%;
  margin-top: -28px;
  padding-left: 116px;
  padding-right: 70px;
}

.tabs-content-item {
  padding-right: 191px;
  min-height: 180px;
}

.tabs-content-title {
  margin: 0 0 33px;
}

.tabs-content-text {
  margin-top: 0;
}

.tabs-content-item:not(.tabs-content-item-current) {
  display: none;
}

.tabs-content-item:nth-child(1) {
  background: url("../img/tabs/delivery-2.svg") no-repeat top 14px right -3px;
}

.tabs-content-item:nth-child(2) {
  background: url("../img/tabs/warranty-1.svg") no-repeat top 14px right -3px;
}

.tabs-content-item:nth-child(3) {
  background: url("../img/tabs/credit-1.svg") no-repeat top 14px right -3px;
}

/* DELIVERY */

.delivery {
  background-color: #F0F0F0;
  margin-bottom: 97px;
}

.delivery-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.delivery-image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  height: 100px;
  background-color: #FFE17F;
  border: none;
  cursor: pointer;
}

.delivery-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-right: 50px;
}

.delivery-info {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  margin-right: 33px;
  border-radius: 50%;
  background-color: #DCDCDC80;
}

.delivery-link:focus {
  outline: 5px solid #AF4FFF;
}

.delivery-link:hover {
  box-shadow: none;
  background-color: #EBEBEB;
}

.delivery-link:hover .delivery-image-block {
  background-color: #FFC700;
}

.delivery-link:hover .delivery-info {
  background-color: #DCDCDC;
}

.delivery-link:hover .delivery-info-svg g {
  opacity: 1;
}

.delivery-link:active {
  box-shadow: none;
  opacity: 0.3;
}

  /* COMPANY */

.company {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-bottom: 80px;
}

/* ABOUT */

.about {
  padding-top: 50px;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-title {
  margin: 0 0 45px;
}

.about-text {
  margin: 0 0 30px;
  padding-right: 53px;
}

.about-list {
  margin-top: 75px;
  margin-bottom: 68px;
  padding-left: 34px;
}

.about-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  position: relative;
}

.about-item::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -33px;
  background-color: #FFE17F;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item-text {
  color: #000000;
}

.about-button {
padding: 10px 17px;
}

/* CONTACTS */

.contacts {
  padding-top: 50px;
  position: relative;
}

.contacts::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts-title {
  margin: 0 0 45px;
}

.contacts-text {
  margin: 0 0 30px;
  padding-right: 53px;
}

.contacts-lead {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts-time {
  margin-bottom: 63px;
}

.contacts-phone {
  text-decoration: underline;
  color: #444444;
}

.contact-button {
  padding: 10px 33px;
}

/* SUBSCRIPTION */

.subscription {
  background-color: #F0F0F0;
  padding-bottom: 132px;
}

.subscription-top {
  display: flex;
  justify-content: space-between;
  padding-top: 77px;
  margin-bottom: 59px;
}

.subscription-title,
.subscription-text {
  width: 560px;
}

.subscription-title {
  margin: 0;
  padding-right: 150px;
}

.subscription-text {
  margin: 0;
  padding-top: 10px;
  padding-right: 32px;
}

.subscription-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-form {
  display: flex;
  height: 55px;
}

.subscription-search {
  padding: 0;
  min-width: 600px;
  border: none;
  color: rgba(68, 68, 68, 0.5);
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 18px;
  line-height: 30px;
}

.newsletters-form-field {
  font-size: 18px;
  line-height: 30px;
  width: 600px;
  padding: 12px 0;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  outline: transparent;
  background-color: transparent;
}

.newsletters-form-field::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscription-search::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscription-search:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscription-search::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscription-search::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscription-search:hover {
  color: rgba(68, 68, 68, 0.7);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscription-search:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscription-search:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscription-search:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscription-search:hover::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscription-search:hover::placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscription-search:focus {
  background-color: #DCDCDC;
}

.subscription-search:not(:-moz-placeholder-shown) {
  border-color: #444444;
  background-color: transparent;
}

.subscription-search:not(:-ms-input-placeholder) {
  border-color: #444444;
  background-color: transparent;
}

.subscription-search:not(:placeholder-shown) {
  border-color: #444444;
  background-color: transparent;
}

.subscription-search:disabled {
  opacity: 0.1;
}

.subscription-btn {
  padding: 10px 38px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.subscription-btn:focus {
  border: 3px solid #AF4FFF;
}

.subscription-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid rgba(0, 0, 0, 1);
}

.subscription-btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
}


.subscription-info {
  position: relative;
  padding-left: 37px;
  margin: 0;
}

.subscription-info::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 7px;
}

/* FOOTER */

.page-footer {
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 77px;
}

.footer-address {
  position: relative;
  width: 250px;
  font-size: 16px;
  line-height: 19px;
  padding-top: 2px;
  margin-right: 114px;
}

.footer-address::before {
  content: '';
  position: absolute;
  bottom: 21px;
  left: 2px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
}

.footer-address-text {
  margin: 0 0 66px;
  color: #ffffff;
}

.footer-information {
  width: 480px;
  padding-top: 77px;
  margin-right: auto;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 62px;
}

.footer-menu-item:not(:last-child) {
  margin-right: 28px;
}

.footer-menu-item:last-child {
  margin-right: 0;
}

.footer-menu-link {
  position: relative;
  display: block;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.footer-menu-link:focus {
  border-radius: 25px;
  outline: 2px solid  #AF4FFF;
  outline-offset: 14px;
}

.footer-menu-link:hover {
  border-color: transparent;
  color: #FFC700;
}


.footer-menu-link:hover::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 8px;
  right: 3px;
  left: 0;
  top: 25px;
  background-color: #FFC700;
  box-shadow: none;
}

.footer-menu-link:active {
  opacity: 0.3;
}


.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 47px;
}

.social-item {
  margin-right: 15px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon path {
  fill: #444444;
}

.social-link:hover {
  background-color: #FFC700;
}

.social-link:hover .social-icon path {
  fill: #444444;
}

.social-link:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 5px #AF4FFF;
  outline: none;
}

.social-link:focus .social-icon path {
  fill: #fff;
}

.social-link:active {
  background-color: #FFC700;
  /*border-color: transparent;*/
}

.social-link:active .social-icon path {
  fill: #444444;
  opacity: 0.3;
}

.footer-authors {
  width: 180px;
  padding-top: 73px;
  text-align: right;
  margin-left: 58px;
}

.footer-phone {
  margin-bottom: 59px;
  display: block;
  font-size: 16px;
  color: #ffffff;
}

.footer-phone:focus {
  background-color: transparent;
  outline: 2px solid #AF4FFF;
  outline-offset: 3px;
  border-radius: 25px;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}


.footer-copyright {
  display: inline-block;
}

.footer-copyright:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
  border-radius: 5px;
}

.footer-copyright-svg path {
  fill: #FFC700;
}

.footer-copyright-svg:hover path {
  fill: #ffffff;
}

.footer-copyright:active {
  box-shadow: none;
}

.footer-copyright-svg:active path {
  fill: #ffffff;
  opacity: 0.3;
}

/* CATALOG.HTML */

/*HEADER INTRO*/

.catalog {
  display: flex;
}

.catalog-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.catalog-filters-row {
  min-height: 70px;
  background: #DCDCDC;
  display: flex;
  justify-content: flex-end;
  padding: 25px 0 25px 58px;
  align-items: center;
}

.catalog-filters-title {
  margin: 0;
  max-width: 268px;
  min-width: 268px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 69px 68px 0 0;
  background-color: #EBEBEB;
  height: 100%;
}

.catalog-filter {
  width: 200px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0 0 33px;
  position: relative;
}

.catalog-filter-group:nth-child(2) {
  margin-bottom: 28px;
}

.catalog-filter-group:nth-child(3) {
  margin-bottom: 27px;
}

.catalog-filter-title {
  width: 100%;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0 0 26px;
  padding: 15px 0 0;
}

.catalog-filter-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.catalog-filter-color {
  margin-bottom: 22px;
}

.catalog-filter-bluetooth {
  margin-bottom: 22px;
}

.catalog-filter-item {
  margin-bottom: 10px;
  padding-left: 2px;
}

.catalog-sort-wrapper {
  background: #EBEBEB;
  display: flex;

}

.catalog-sort {
  min-height: 70px;
  width: 830px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 73px;
}

.catalog-sort-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 46px 0 0;
}

.sort-dir {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-left: 10px;
}

.sort-dir-item:not(:last-child) {
  margin-right: 17px;
}

.sort-dir-link {
  font-size: 0;
  fill: rgba(0, 0, 0, 0.2);
}

.sort-dir-link:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 8px;
  fill: rgba(0, 0, 0, 0.2);
}

.sort-dir-link:hover {
  fill: rgba(0, 0, 0, 0.6);
}

.sort-dir-active {
  fill: rgba(0, 0, 0, 1);
}

.catalog-wrapper {
  width: 832px;
  padding: 69px 0 76px 73px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 49px;
  margin-bottom: 49px;
}

.user-menu-item {
  position: relative;
}

.inner-header {
  padding: 37px 60px 44px;
}

.inner-header-title {
  margin: 0 0 17px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 20px;
  margin-right: 15px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 1;
  width: 4px;
  height: 7px;
  background: url("../img/svg/nav-arrow-2.svg") no-repeat center/contain;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 4px;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link-current:hover {
  cursor: default;
}

/* ==================================
	 Section - Страница каталог
	 ================================= */

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.product-card {
  position: relative;
}
.product-card-new::after {
  position: absolute;
  content: "New";
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.2em;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
}



.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: inherit;
  width: 196px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/svg/arrow-bottom.svg);
  background-position: right top 7px;
  background-repeat: no-repeat;
}

.select-control:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 4px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.product-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 0.25s ease;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.button-hover {
  z-index: 1;
}

.button-hover::before {
  background-color: #FFC700;
}

.button-hover:hover::before {
  background-color: #FFC700;
}

.product-card-header {
  position: relative;
  display: block;
  margin-bottom: 33px;
  border: none;
}

.product-card-image {
  transition: opacity 0.4s ease;
}

.product-card-header:hover .product-card-image {
  opacity: 0.4;
}

.product-card-header:hover .product-card-overlay {
  opacity: 1;
}

.product-card-header:focus {
  outline: 5px solid #AF4FFF;
}

.product-card-header:focus + .product-card-body .product-card-link{
  color: #AF4FFF;
}

.product-card-header:focus + .product-card-body .product-card-price {
  color: #AF4FFF;
}

.product-card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-card-link {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  outline: none;
}

.product-card-link:focus {
  color: #AF4FFF;
}

.product-card-title {
  line-height: 1;
  margin: 0;
}

.product-card-price {
  line-height: 21px;
  margin: 0;
  color: #444444;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 8px;
  margin-top: 10px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  left: 0;
  width: 114px;
  height: 1px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus,
.catalog-filter-label:focus {
  border-color: #AF4FFF;
  color: #AF4FFF;
  outline: none;
}

.range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -15px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  left: -5px;
  position: relative;
  padding-right: 43px;
  font-size: 15px;
  line-height: 18px;
  margin-top: 16px;
}

.catalog-filter-label {
  display: flex;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.3);
  flex-direction: row-reverse;
}

.range-input {
  width: 16px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  outline: none;
}

.range-input-right {
  width: 44px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus,
.range-input:focus + .catalog-filter-label-text {
  color: rgba(176, 79, 255, 0.3);
}

.range-input:active,
.range-input:active + .catalog-filter-label-text {
  color: #000000;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
  cursor: pointer;
}

.control-input:checked + .control-mark {
  border: 2px solid rgba(0, 0, 0, 1);
}

.control-input:focus:checked + .control-mark:after {
  background-image: url(../img/svg/tick-focus.svg);
}

.control-input:focus + .control-mark {
  border: 2px solid #AF4FFF;
}

.control-input:focus ~ .control-label {
  color: #AF4FFF;
}

.control-mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: block;
  justify-content: center;
  align-items: center;
}

.control-mark::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/svg/tick.svg") no-repeat center/contain;
  display: none;
}

.control-mark-radio {
  border-radius: 50%;
}

.control-mark-radio::after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
}


.control-input:checked + .control-mark-radio::after,
.control-input:checked + .control-mark::after {
  display: block;
}

.control-input:focus:checked + .control-mark-radio::after {
  background-color: #AF4FFF;
}

.control-input:active + .control-mark,
.control-input:active + .control-mark::after {
  opacity: 0.3;
}

.catalog-button {
  z-index: 1;
}

.catalog-button::before {
  background-color: #FFC700;
}

.catalog-button:hover::before {
  background-color: #FFC700;
}

.catalog-button:focus::before {
  background-color: #AF4FFF;
}

.pagination-show-more {
  width: 100%;
  background-color: #ffffff;
  border: none;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 18px 0;
  margin-bottom: 51px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-show-more:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.pagination-show-more:hover {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 1);
}

.pagination-show-more:active {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.pagination {
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-sublist {
  padding-left: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2em;
}

.pagination-next,
.pagination-prev {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding: 26px 27px;
  display: block;
}

.pagination-prev {
  cursor: default;
}

.pagination-link:focus,
.sublist-link:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.pagination-link:not(.pagination-prev):hover {
  background-color: #DCDCDC;
}

.pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #DCDCDC;
}

.sublist-item:not(.sublist-item:last-child) {
  margin-right: 5px;
}

.sublist-link {
  padding: 8px 12px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(68, 68, 68, 0.3);
}

.sublist-link:hover {
  color: rgba(68, 68, 68, 1);
}

.sublist-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.popover {
  position: absolute;
  top: 33px;
  right: -80px;
  z-index: 2;
  width: 320px;
  min-height: 150px;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  transition: all 0.25s ease;
  display: none;
}

.user-menu-cart:hover .popover {
  visibility: visible;
  opacity: 1;
}

.popover::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 152px;
  background-color: #000000;
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
}

.popover-open {
  display: block;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
}
.cart-item + .cart-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-link {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.cart-item-link:focus {
  color: #AF4FFF;
}
.cart-item-link:focus .cart-item-image {
  outline: 5px solid #AF4FFF;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-title {
  margin-left: 23px;
  padding-top: 3px;
  width: 180px;
  margin-right: auto;
  font-size: 16px;
  line-height: 20px;
}

.cart-item-button {
  width: 11px;
  height: 11px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-left: auto;
  outline: none;
  transform: translate(-50%);
}

.cart-item-button:focus > .cart-item-icon {
  outline:2px solid #AF4FFF;
  outline-offset: 5px;
  border-radius: 50%;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:active {
  opacity: 0.3;
}


.cart-item-icon {
  min-width: 11px;
  height: 11px;
}

.cart-result {
  font-size: 16px;
  line-height: 20px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  padding: 13px 21px;
}

.cart-result-text {
  margin: 0;
}

.cart-button-wrapper {
  padding: 20px 20px;
}

.cart-button {
  border: none;
  background-color: #ffffff;
  width: 100%;
  padding: 15px 0;
}

.cart-button:before {
  display: none;
}

.cart-button:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.cart-button:hover {
  background-color: #FFE17F;
}

.cart-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*MODAL*/

.overlay {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  justify-content: center;
  align-items: center;
}

.overlay-close {
  display: none;
}

.modal {
  max-width: 920px;
  min-height: 580px;
  padding: 63px 70px 60px;
  border: 10px solid #000000;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 68px;
  justify-content: space-between;
  position: relative;
}

.modal-close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  transform: translate(12px, 4px);
  position: absolute;
  top: 0;
  right: 0;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.modal-close:hover {
  opacity: 0.6;
}

.modal-close:focus {
  border-radius: 50%;
  outline: 5px solid #AF4FFF;
}

.modal-close:active {
  opacity: 0.3;
  outline: none;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form-label {
  font-weight: 800;
  line-height: 20px;
  display: block;
  margin-bottom: 13px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-form-label-hint {
  margin-bottom: 0;
}

.modal-form-field {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  width: 100%;
  height: 60px;
  padding-right: 45px;
  padding-left: 20px;
  border: none;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.modal-form-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field:hover {
  background-color: #EBEBEB;
}

.modal-form-field:focus {
  outline: 5px solid #AF4FFF;
}

.modal-form-field:active {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.modal-form-field:not(:-moz-placeholder-shown) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.modal-form-field:not(:-ms-input-placeholder) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.modal-form-field:not(:placeholder-shown) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.modal-form-field-name {
  background-image: url("../img/svg/bust.svg");
}

.modal-form-field-email {
  background-image: url("../img/svg/mail.svg");
}

.modal-message {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #000000;
}

.modal-message-error {
  color: #FF3D3D;
}

.modal-form-group {
  width: 360px;
  margin-bottom: 15px;
}

.modal-form-group:last-child {
  margin-top: 24px;
}

.modal-form-order {
  width: 560px;
}

.modal-form-hint {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.modal-form-quantity {
  width: 160px;
}

.modal-form-counter {
  position: relative;

  display: flex;
}

.modal-form-field-number {
  margin: 0;
  padding: 0 45px;
  text-align: center;
}

.modal-form-field-number::-webkit-outer-spin-button,
.modal-form-field-number::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.counter-button {
  position: absolute;
  top: 50%;
  display: flex;
  padding: 0;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.counter-button-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.counter-button:hover .counter-button-icon {
  fill: #000000;
}

.counter-button:focus .counter-button-icon {
  border-radius: 50%;
  outline: 2px solid #AF4FFF;
  outline-offset: 7px;
}

.counter-button:active .counter-button-icon {
  outline: none;
  fill: rgba(0, 0, 0, 0.1);
}

.modal-form-up {
  right: 19px;
}

.modal-form-down {
  left: 19px;
}

.hint {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 26px;
  height: 26px;
  background-color: #FFE17F;
  border-radius: 50%;
  margin-left: 5px;
}

.hint:hover ~ .hint-text {
  display: block;
}

.hint-text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -15px;
  display: none;
  width: 200px;
  padding: 19px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.hint-text::after {
  position: absolute;
  top: -4px;
  right: 43px;

  width: 9px;
  height: 9px;

  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000000;
}

.popover-info {
  position: absolute;
  right: 40px;
  bottom: 48px;
  width: 200px;
  height: 160px;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popover-info::before {
  position: absolute;
  top: -4px;
  left: 125px;
  width: 10px;
  height: 10px;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000000;
}

.popover-info-text {
  font-size: 16px;
  line-height: 20px;
  margin: 19px auto 0 17px;
  color: #ffffff;
}

.button-modal {
  padding: 10px 31px;
}

