/* СЕКЦИЯ ШРИФТЫ */
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ПОВТОРЯЮЩИЕСЯ КЛАССЫ */

.container {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rs-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rs-indent {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000;
}

.categories-item-title {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

/* КНОПКИ */


.button {
  position: relative;
  padding: 10px 50px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.button > span {
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.button::before {
  content: '';
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  background-color: #FFE17F;
}

.button:focus::before {
  background-color: #AF4FFF;
}

.button:hover,
.button:active {
  background-color: #FFE17F;
}


.button:active > span {
  color: #000000;
  opacity: 0.3;
}


/* HEADER */

.page-header {
  margin-top: 40px;
  background-color: #FFE17F;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  display: block;
  margin-top: -25px;
}

.header-row {
  display: flex;
  align-items: baseline;
  margin-top: 33px;
}

.header-search {
  position: relative;
  width: 516px;
  margin-right: auto;
  border-radius: 40px;
  display: flex;
}

.header-search-input {
  position: relative;
  padding: 0 165px 0 52px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 40px;
  opacity: 0.3;
  outline: none;
  -webkit-appearance: none;
}

.header-search:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
}

.header-search-input:hover {
/*  меняем цвет*/
}

.header-search-input:hover + .header-search-btn:hover {
  opacity: 1;
}

.header-search-input:focus {
  border: 2px solid #AF4FFF;
}

.header-search-input:focus + .header-search-btn {
  color: #000000;
  opacity: 1;
  cursor: pointer;
  border-color: pink;
}

.header-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 160px;
  opacity: 0;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
}

.user-menu {
  display: grid;
  grid-template-columns: 220px 100px 100px;
  width: 500px;
  justify-content: space-between;
}

.user-menu-link-enter {
  padding-left: 25px;
  margin-right: auto;
  position: relative;
}

.user-menu-link-enter:before {
  content: '';
  width: 13px;
  height: 12px;
  position: absolute;
  background-image: url('../img/bust.svg');
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.user-menu-link-compare {
  position: relative;
  padding-left: 20px;
}

.user-menu-link-compare:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/compare.svg");
}

.user-menu-item:last-child {
  text-align: right;
}

.user-menu-link-basket {
  display: flex;
}

.user-menu-item-numb {
  flex-shrink: 0;
  display: inline-block;
  width: 21px;
  height: 21px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.user-menu-item-basket {
  align-self: center;
}

.user-menu-link-basket {
  position: relative;
}

.user-menu-link-basket:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 14px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../img/basket.svg');
}

.user-menu-link {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.navigation {
  margin-top: 28px;
  margin-bottom: 53px;
}

.navigation-link {
  font-family: "Raleway";
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-item:nth-child(1) {
  margin-right: auto;
}

.navigation-item:nth-last-child(1) {
  margin-left: auto;
}

.navigation-item:nth-child(2) {
  margin-left: auto;
}

.sub-menu {
  display: none;
}

/* MAIN */
.index-main {
  flex-grow: 1;
}

/* CAROUSEL */

.carousel {
  position: relative;
}

.carousel::before {
  content: "";
  width: 1160px;
  height: 114px;
  background-color: #FFE17F;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.carousel-images-item {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.slider-image {
  margin-top: -40px;
}

.carousel-title {
  margin-top: 83px;
  margin-bottom: 19px;
}

.description-feature-text {

}

.carousel-column {
  /* width: calc(100% / 2 - 20px);*/
  outline: 1px solid #000;
  position: relative;
}

.carousel-column-btn {
  margin-top: 30px;
  margin-bottom: 70px;
}

.description-feature {
  display: flex;

}

.description-feature-item {
  margin-right: 20px;
}

.description-feature-meaning {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-numb {
  position: absolute;
  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
  color: #F0F0F0;
  top: 53px;
  right: 49px;
  z-index: -1;
}

/* CATEGORIES */

.categories {
  margin-top: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 169px;
}

.categories-item {
  width: calc(100% / 6 - 20px);
}

.categories-item-title {
  margin-top: 33px;

}

.categories-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  background-color: #FFE17F;
}

.categories-item-box-bottom {
  align-items: flex-end;
}

/* SERVISES */

.services {
  background: #f0f0f0;
  padding-bottom: 110px;
}

.services-flex {
  display: flex;
}

.tabs-controls {
  width: 280px;
  flex-shrink: 0;
  margin-top: -20px;
  position: relative;
}

.tabs-controls::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000000;
  right: 0;
  top: -80px;
}

.tabs-controls-btn {
  width: 160px;
  z-index: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.tabs-controls-btn::before {
  content: '';
  height: 8px;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  background-color: #FFE17F;
}

.tabs-content {
  width: 100%;
  margin-top: -28px;
}

.tabs-content-item {
  padding-left: 116px;
}

.tabs-content-title {
  margin: 0;
}

.tabs-content-item:nth-child(1) {
  background: url("../img/tabs/delivery-2.svg") no-repeat top right 70px;
}

.tabs-content-item:nth-child(2) {
  background: url("../img/tabs/warranty-1.svg") no-repeat top right 70px;
}

.tabs-content-item:nth-child(3) {
  background: url("../img/tabs/credit-1.svg") no-repeat top right 70px;
}

.tabs-content-title {
  width: 560px;
}

.tabs-content-text {
  width: 497px;
}

/* DELIVERY */

.delivery {
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
  margin-top: 90px;
  margin-bottom: 97px;
  align-items: center;
}

.delivery-image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  border: none;
  cursor: pointer;
}

.delivery-info {
  border: none;
  width: 40px;
  height: 40px;
  margin-right: 33px;
  border-radius: 50%;
  background-color: #DCDCDC80;
  cursor: pointer;
}

/* COMPANY */

.company {
  display: flex;
  justify-content: space-between;
  padding-bottom: 87px;
}

/* ABOUT */

.about {
  max-width: 560px;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-text {
  margin-bottom: 40px;
}

.about-list {
  margin-top: 80px;
  list-style-type: disc;
  padding-left: 20px;
}

.about-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FFE17F;
  padding-bottom: 31px;
}

.about-item:last-child {
  margin-bottom: 26px;
}

.about-item-text {
  color: #000000;
}

.about-button {
  margin-top: 20px;
}

/* CONTACTS */

.contacts {
  max-width: 560px;
  position: relative;
}

.contacts::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts-text {
  margin-bottom: 40px;
}

.contacts-lead {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-time {
  margin-bottom: 67px;
}

.contacts-phone {
  text-decoration: underline;
  color: #444444;
}

/* SUBSCRIPTION */

.subscription {
  background-color: #F0F0F0;
  padding-bottom: 134px;
}

.subscription-top {
  display: flex;
  justify-content: space-between;
}

.subscription-title,
.subscription-text {
  width: 560px;
}

.subscription-title {
  margin-top: 75px;
}

.subscription-text {
  margin-top: 86px;
}


.subscription-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 50px;
}

.subscription-form-label {
  display: flex;
}

.subscription-search {
  padding: 0;
  width: 600px;
  border: none;
  color: #444444;
  background-color: transparent;
  opacity: 0.5;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.subscription-search:active {
  color: #444444;
  opacity: 1;
  background-color: transparent;
  border-bottom: 3px solid #000000;
}

.subscription-search:focus {
  background-color: #DCDCDC;
  border: none;
  opacity: 0.5;
}

.subscription-search:focus-visible {
  border: none;
}

.subscription-search:hover {
  opacity: 0.7;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscription-search:enabled {

}

.subscription-btn {
  padding: 10px 50px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.subscription-btn:focus {
  border: 3px solid #AF4FFF;
}

.subscription-btn:hover {
  border: none;
  background-color: #000000;
  color: #ffffff;
  border: 3px solid rgba(0, 0, 0, 1);
}

.subscription-btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
}


.subscription-info {
  position: relative;
  padding-left: 25px;
  margin: 0;
}

.subscription-info::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  left: 0;
  top: 7px;
}

/* FOOTER */

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  position: relative;
  width: 240px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 77px;
  margin-top: 62px;
}

.footer-address::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-address-text {
  margin-top: 35px;
  margin-bottom: 66px;
}

.footer-information {
  margin-top: 137px;
}

.footer-menu {
  display: flex;
}

.footer-menu-item {
  margin-right: 7px;
}

.footer-menu-item:last-child {
  margin-right: 0;
}

.footer-menu-link {
  position: relative;
  display: block;
  font-family: "Raleway";
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  border-radius: 25px;
}

.footer-menu-link:hover {
  color: #FFC700;
}

.footer-menu-link:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.footer-menu-link:hover::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 8px;
  right: 20px;
  left: 20px;
  background-color: #FFC700;
  box-shadow: none;
}

.footer-menu-link:active {
  box-shadow: none;
  opacity: 0.3;
}


.social {
  display: flex;
  justify-content: center;
  margin-top: 63px;
}

.social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon path {
  fill: #444444;
}

.social-link:hover {
  background-color: #FFC700;
}

.social-link:hover .social-icon path {
  fill: #444444;
}

.social-link:focus {
  background-color: transparent;
  box-shadow: 0 0 0 5px #AF4FFF;
  /* border: 5px solid #AF4FFF; */
}

.social-link:focus .social-icon path {
  fill: #fff;
}

.social-link:active {
  background-color: #FFC700;
  box-shadow: none;
}

.social-link:active .social-icon path {
  fill: #444444;
  opacity: 0.3;
}

.footer-authors {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 137px;
}

.footer-phone {
  padding: 5px 15px;
  border-radius: 25px;
}

.footer-phone:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.footer-phone:hover {
  color: #FFC700;
  box-shadow: none;
}

.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}


.footer-copyright {
  margin-top: 53px;
  padding: 10px;
  border-radius: 10px;
}

.footer-copyright-svg path {
  fill: #FFC700;
}

.footer-copyright:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.footer-copyright:hover {
  box-shadow: none;
}

.footer-copyright-svg:hover path {
  fill: #ffffff;
}

.footer-copyright:active {
  box-shadow: none;
}

.footer-copyright-svg:active path {
  fill: #ffffff;
  opacity: 0.3;
}

/* CATALOG */

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-header {
  display: flex;
}

.catalog-sort {
  display: flex;
}
