@font-face {
    font-family: "raleway";
    font-weight: 800;
    font-style: normal;
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-weight: 400;
    font-style: normal;
    src: url("rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-weight: 700;
    font-style: normal;
    src: url("rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-weight: 800;
    font-style: normal;
    src: url("rubik-400.woff2") format("woff2");
    font-display: swap;
}

body {
    max-width: 1440px;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
    color: #000;
}

/*header*/

.page-header {
    margin: 0;
    padding: 0;
    max-width: 1160px;
    margin: 0 auto;
}

/*header-up-row*/

.header-up-row {
    display: flex;
}

.user-menu {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    list-style-type: none;
}

.search-field {
    width: 480px;
    height: 20px;
}

.user-menu-item {
    width: 100px;
}

.user-menu-item-enter {
    width: 220px;
}